/build/
/backup/
/.history/
/python/
/iso/
/.lh/
/tools/
/scripts/
/build1/
*.7z
tempCodeRunnerFile.bat
Debugviewpp.exe
dp-zadanie.pdf
DiplomenProekt.docx
*.zip
*.exe
docker_iso_builder.py
pt.cpp
tesr.py
*.spec
*.spec
test.py
mongo-c-driver/
conanfile.txt
New folder/DiplomenProekt.pdf
